* {
    margin: 0px;
    padding: 0px; 
  }
  
     @import "../partials/variables"; 

     @import "../partials/header";

     @import "../partials/main";

     @import "../partials/mixins";

     @import "../partials/navbar";
     
     @import "../partials/footer";

  body {
    font-family: 'Merriweather', serif; }
  
  /*nosotros.html*/
  .nosotros {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    background-position: center; }
  
  .Nosotros-img {
    text-align: center; }
  /*** TRANSFORMS ***/
  .card.mt-3 {
    @extend .anchofooter;

 }
  
  .card.mt-3:hover {
    transform: scale(1.1) translateY(-60px); 
  }




