h1{
    background-color: #f8f8a9;
  }

  main{
    div{
        h1{
            h5{
                p{
                 font-size: 2rem;  
                }
                    a{
                     width:30px; 
                     height: 20px;
                     background-color: #f7b893 ;
                    }

            }
        }

    }
   
}